body {
    font-family: lato, sans-serif;
    font-size: 16px;
}

h1,h2,h3 {
    font-weight: 600;
}

a,a:link,a:visited,a:hover,a:focus,a:active{
    color: inherit;
    text-decoration: none;
}

section {
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline {
    height: 90vh;
    position: relative;
}

.arrow {
    color: gray;
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.statement {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 20vh;
    margin-right: 20vh;
    width: 80vw;
}

@media only screen and (min-width: 800px){
    .statement{
        width:600px;
    }
}

.get-in-touch {
    display: block;
    text-align: center;
    border: solid 2px;
    border-color: black;
    margin-left:auto;
    margin-right:auto;
    width: 200px;
    padding: 10px;
    margin-top:30px;
}

.philosophy {
    color:rgb(255,255,255);
    background:#4C9689; /*,#3E313C,#EB4D5C*/
}

.philosophy .get-in-touch {
    border-color:rgb(255,255,255);
}

.service-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.service-row {
    display: table;
    border-collapse: separate;
    border-spacing: 25px;
}

.service {
    border-top: solid 6px #EB4D5C;
    padding: 10px;
    width:350px;
    display: table-cell;
}


.service.middle {
    margin-right: 25px;
    margin-left: 25px;
}

.service.right {
    margin-right: 50px;
}
.service.left {
    margin-left: 50px;
}

@media only screen and (max-width: 1300px){
    .service-container h1 {
        text-align: center;
    }
    .service-row {
        display: block;
    }
    .service-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .service {
        border-top: none;
        border-left: solid 6px #EB4D5C;
        display: block;
        margin-top: 20px;
        width: 80vw;
        max-width: 800px;
    }
    .service.left {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .service.middle {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .service.right {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.about {
    color:rgb(255,255,255);
    background: #3E313C;
}

em {
    font-weight: bold;
    font-style: normal;
}

.contact-info {
    margin-top: 20vh;
    margin-bottom: 30vh;
    text-align: center;
    border: solid 2px;
    border-color: black;
    padding: 10px;
    width:350px;
    margin-right: auto;
    margin-left: auto;
}

a:hover {
    color:#EB4D5C;
}

.logo {
    position:absolute;
    top: 20px;
    left: 20px;
    font-weight: 900;
    font-size: 1.5em;
}